@import './globals.css';

@keyframes rainbow {
  0% { color: red; }
  16% { color: orange; }
  33% { color: yellow; }
  50% { color: green; }
  66% { color: rgb(67, 67, 255); }
  83% { color: rgb(130, 17, 210); }
  100% { color: violet; }
}

@keyframes mismatch {
  0% { color: #eee; }
  12% { color: var(--accent); }
  100% { color: #eee; }
}

.code-editor-container {
  position: absolute;
  right: 0;
  padding: 0rem;
  background-color: color(srgb 0.1765 0.1765 0.1765);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  width: 45vw;
  max-width: 100%;
  height: 95vh;
  overflow-y: hidden;
  scrollbar-width: none;
}



.editor-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 90%;
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.5rem;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-break: break-word;
  scrollbar-width: none;
}

.code-input {
  resize: none; 
  overflow: hidden;
  padding: 1.8rem 1.28rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1.5;
  caret-color: white;
  color: transparent;
  white-space: pre-wrap;
  word-break: break-word;
  scrollbar-width: none;
}

.code-editor {
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 1.75rem 1.35rem;
}

.tab-toggle {
  display: flex;
  border-bottom: 1px solid var(--editor);
  margin-bottom: 10px;
  flex-wrap: wrap;
  background-color: var(--editor);
}

.tab-button {
  flex: 1;
  padding: 3% 6%;
  background-color: var(--editor);
  color: var(--text-secondary);
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.tab-button:last-child {
  border-radius: 0 7px 0 0;
}

.tab-button:first-child {
  border-radius: 7px 0 0 0;
}

.tab-button.active {
  background-color: var(--accent);
  color: var(--c);
  border-bottom: 3px solid var(--accent-secondary);
}

.output-wrapper {
  width: 100%;
  padding: 10px;
  background-color: #2d2d2d;
  color: #eee;
  border-radius: 4px;
  font-family: monospace;
}

.output-wrapper pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  box-sizing: border-box;
}

.code-output {
  margin-top: 1%;
  padding: 3%;
  background: var(--editor);
  border-radius: 7px;
  color: var(--text);
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.success.rainbow {
  animation: rainbow 1.5s linear infinite alternate;
}

.error {
  color: red;
}

.mismatch {
  animation: mismatch 4s linear;
}

.send-button {
  padding: 1% 2%;
  z-index: 10;
  position: sticky;
  top: 40rem;
  left: 40rem;
  font-size: large;
  color: var(--text);
}

@media (max-width: 768px) {
  .code-editor-container, .code-input {
    width: 100%;
    min-height: 20rem;
    height: fit-content;
  }
  .editor-wrapper {
    height: auto;
  }
  .send-button {
    top: 11rem;
    left: 18rem;
  }
}
